
#header{
	background-color: white;
	opacity: 1;
	position: fixed;
	width: 100%;
	height: 6rem;
	color: #103fa0;
	text-align: center;
	border-bottom: 10px double #103fa0;

}
#header h1{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%);
	text-shadow: 3px 3px 2px #6d86ba;

}

#header nav{
	position: absolute;
	left: 1rem;
	top: 50%;
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);  
}