#page{
	padding-top: 6rem;
	padding-bottom: 4rem;
	overflow-x: hidden;/*縦スクロールを隠す*/
  	overflow-y: scroll;/*横スクロール可にする*/
}

#page::-webkit-scrollbar{/*Webkit系のブラウザだけスクロールバー非表示*/
	display: none;
}

#page h2{
	border-bottom: double 10px #cdcdf7;/*二重下線*/
	text-align: center;/*中央*/
	margin: 2rem;
}

#feed-articles article{
	border-left: 10px double #cdcdf7;
	left: 2rem;
	margin-right: 1rem;
	padding-left: 2rem;
}

#feed-articles .article-title{
	color: black;
	font-weight: bolder;/*相対的に太く*/
}

#feed-articles .article-description{
	margin: 0;
	color: #d16100;
	font-size: 1.5rem;
}

#feed-articles a{
	text-decoration: underline;/*デコりません*/
	color: blue;
}

#loading{
	color: #5e71ff;
	opacity: 5;		/*透明度*/
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);/*webkit系のときだけ*/
	transform: translate(-50%,-50%);
	display: none;
	
}

#loading.started {
	display: initial;
}