#side {
	width: 640px;
	height: 300pc;
	margin: 0 auto;
	position: relative;
}

#side img {
	position: absolute;
	left: 0;
	top: 0;
}

#blockone {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../image/ZmgWPscOjNfZtA41489034037_1489034106.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#blockone::-webkit-sclollbar{
	display: none;
}

#blocktwo {
	display: none;
	width: 100%;
	height: 100%;
	background: url("");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}